/*.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    text-align: center;
}

li{
    list-style: none;
    padding: 20px;
    background-color: rgb(179, 219, 205);
    border-radius: 8px;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button{
    width: 50px;
    height: 50px;
    background-color: aqua;
    font-size: 24px;
}

button:hover{
    background-color: blueviolet;
}*/