/* Declaración de variables en CSS */

:root{
  /* COLORES */
  --principal: #343331;
  --secundario: #F5F5F5;/* fondo */
  --enfasis: #4490ec; /* enfásis tipo enlaces */
  --enfasis2:#FADB75; /* partes seleccionadas */
  
  /* MEDIDAS */
  --uni:clamp(18px,1.5vw,40px); /* 1era medida mínima, 2da maxima,
  medida proporcional */

  /* FUENTES */
  --fuente-principal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fuente-mono: 'Consolas', 'Courier New', Courier, monospace;

}


body{
  font-family:var(--fuente-principal);
  font-size: var(--uni);
  line-height: calc(var(--uni) * 1.6);
  color: var(--principal);
  background-color: var(--secundario);
}

h1{
  font-size: calc(var(--uni) * 3) ;
}

h2{
  font-size: calc(var(--uni) * 2.5) ;
}

h3{
  font-size: calc(var(--uni) * 2) ;
}

p{
  margin-bottom: calc(var(--uni) * 0.6);
  color: var(--principal);
}

code{
  font-family:var(--fuente-mono);
}

a{
  color: var(--enfasis);
}


